<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fyay - Your Event Organizer" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="My App" />
    <link rel="apple-touch-icon" href="/static/images/fyaylogopng.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/images/fyaylogopng.png"
    />
    <title>Fyay | {% block title %} {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="section-background"></div>
    <div class="reviews-background"></div>
    <div class="resposive-background">
      <h1>THIS WEBSITE IS NOT RESPONSIVE RIGHT NOW</h1>
      <p>We are wroking on it</p>
    </div>
    <div class="body-container">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <!-- NAVBAR -->
      <nav class="navbar">
        <div class="nav-logo-container">
          <a class="nav-logo" href="{{ url_for('index') }}">Fyay</a>
        </div>
        <div class="nav-collapse">
          <ul>
            <li class="nav-collapse-service">
              <a class="nav-collapse-service-a" href="{{ url_for('index') }}"
                >Service</a
              >
            </li>
            <li class="nav-collapse-about-us">
              <a class="nav-collapse-about-us-a" href="{{ url_for('index') }}"
                >About us</a
              >
            </li>
            <li class="nav-collapse-contact">
              <a class="nav-collapse-contact-a" href="{{ url_for('index') }}"
                >Contact</a
              >
            </li>
            {% if 'user_id' in session %} {% if session['user_role'] == 'admin'
            %}
            <style>
              .nav-collapse {
                transform: translateX(15px);
              }
            </style>
            <li class="nav-collapse-dashboard">
              <a class="nav-collapse-dashboard-a" href="{{ url_for('index') }}"
                >Dashboard</a
              >
            </li>
            {% endif %} {% endif %}
          </ul>
        </div>
        <div class="nav-links div-btn">
          {% if 'user_id' in session %}
          <a class="nav-link btn" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a class="nav-link btn" href="{{ url_for('login') }}">Login</a>
          {% endif %}
        </div>
      </nav>

      <!-- Main Content -->

      <main>{% block content %} {% endblock %}</main>

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-first-row">
          <p class="footer-first-row-paragraph">Want Event?</p>
          <a class="footer-first-row-a btn-white" href="">Book a Event</a>
        </div>
        <div class="footer-second-row">
          <p class="footer-second-row-paragraph">Fyay Flowers</p>
          <p class="footer-second-row-description">
            Powerful event solutions to create seamless, impactful experiences.
          </p>
        </div>
        <div class="footer-third-row">
          <p class="footer-third-row-paragraph">© 2024 Fyay, Inc</p>
          <p class="footer-third-row-paragraph"></p>
          <div class="footer-third-row-icons">
            <a href=""></a>
            <a href=""></a>
          </div>
          <p class="footer-third-row-paragraph">Privacy Policy</p>
        </div>
      </footer>
      <span></span>
    </div>
  </body>
</html>
