<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fyay - Your Event Organizer" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="My App" />
    <link rel="apple-touch-icon" href="/static/images/fyaylogopng.png" />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/images/fyaylogopng.png"
    />
    <title>Fyay | {% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Fyay</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            {% if 'user_id' in session %} {% if session['user_role'] == 'admin'
            %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_dashboard') }}"
                >Admin Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('place_order') }}"
                >Purchases</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_event') }}"
                >Create Event</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="container my-5">{% block content %} {% endblock %}</main>

    <!-- Footer -->
    <footer class="text-center">
      <div class="container">
        <p>© 2024 Fyay. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
